$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;
$yellow: #fce473;
$pink: #ff1493;
$dustyrose: #FFE4E1;
$lavendar: #D8BFD8;
$olive: rgb(107,142,35);

@mixin translateY($e){
  -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
      transform: translateY($e);
}

@mixin transition($e){
  -webkit-transition: $e;
    -moz-transition:$e;
      transition:$e;
}
html {
    height: 100%;
}
body{

  display:inline-block;
  overflow: auto;
  min-width:100%;
  font-family: 'Open Sana', sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  font-style: normal;
  min-height: 100%;
  margin:0;
  padding-bottom:60px;
}

a {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;
  color: $white;

  &.hover {
    color: $red;
    @include transition(.4s ease-in-out);
  }
}

.container-fluid{
  line-height: 25px;
}
